<form class="well form-search" action="/redir" method="post">
  <input type="text" class="input-xlarge" name="mailbox" placeholder="username@<%= hostname %>">
  <button type="submit" class="btn">Check Mail</button>
</form>

<h4>Free disposable mailboxes, hassle free!</h4>

<p>Whenever in the need of a temporary e-mail address, enter <your_desired_username>@<%= hostname %> as your e-mail address and check back here. If there's any mail sent to <your_desired_username> then you can easily check it with the form above.</p>

<p>All received messages are stored up to 7 days and will be deleted after that.</p>

<h4>Well, what about privacy?</h4>

<p>There is none. Anyone can check any inbox at will. Use unguessable usernames, if you do not want someone else to see the e-mails sent to you and delete the messages after you've read them.</p>

<h4>So, what are the features?</h4>

<p>Every mailbox can be accessed through web, POP3, JSON and RSS. Original design of the e-mails and attachments are preserved (great for newsletters) and attachments can be downloaded.</p>